<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    
        <!--Configuracoes kinghost-->
<!--        <property name="hibernate.connection.url">jdbc:mysql://mysql02-farm86.kinghost.net/imperialimovei?autoReconnect=true</property>
        <property name="hibernate.connection.username">imperialimovei</property>
        <property name="hibernate.connection.password">571243</property>-->
    
        <!--Configuracoes Jelastic-->
        <!--        <property name="hibernate.connection.url">jdbc:mysql://node25200-softop.mircloud.host/imperialimoveis</property>
            <property name="hibernate.connection.username">root</property>
            <property name="hibernate.connection.password">RQRyxm48823</property>
        -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/imperialimoveis</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
    
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.show_sql">false</property>    
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->   

        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.timeout">30</property>
        <property name="hibernate.c3p0.idle_test_period">100</property>
        <property name="hibernate.c3p0.validate">true</property>
        <property name="hibernate.c3p0.privilegeSpawnedThreads">true</property>
        <property name="hibernate.c3p0.contextClassLoaderSource">library</property>

        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->


        <mapping class="br.com.softop.imobiliaria.entity.Banner"/>
        <mapping class="br.com.softop.imobiliaria.entity.Cliente"/>
        <mapping class="br.com.softop.imobiliaria.entity.Configuracoes"/>
        <mapping class="br.com.softop.imobiliaria.entity.Foto"/>
        <mapping class="br.com.softop.imobiliaria.entity.Imovel"/>
        <mapping class="br.com.softop.imobiliaria.entity.Inquilino"/>
        <mapping class="br.com.softop.imobiliaria.entity.Login"/>
        <mapping class="br.com.softop.imobiliaria.entity.Orientacoes"/>
        <mapping class="br.com.softop.imobiliaria.entity.TipoImovel"/>
        <mapping class="br.com.softop.imobiliaria.entity.Theme"/>
    
    </session-factory>
</hibernate-configuration>
